{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": false,
                "corejs": 3,
                "debug": true
            }
        ]
    ],
    "targets": { "chrome": "58", "ie": "11" },
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "helpers": true,
                "regenerator": true,
                "debug": true
            }
        ]
    ]
}
